body {
    background-image: url('assets/main-img.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
.card {
    position: relative;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    height: 350px;
    width: 280px;
}
.first {
    background-image: url('assets/aaas.webp');
    background-size: cover;
}
.last {
    background-image: url('assets/cats.jpeg');
    background-size: cover;
}
@media  (max-width: 700px) {
    body {
        flex-direction: column;
    }
}